<main>
  <div>
    <h1>Nobe Bank</h1>
    <div>
      <div>
        <%= link_to 'Dépositos', deposit_path %>
      </div>
      <div>
        <%= link_to 'Saque', withdraw_path %>
      </div>
      <div>
        <%= link_to 'Transferências', transfer_path %>
      </div>
    </div>
    <div>
      <%= form_with url: filter_account_statements_path, method: :get do |form| %>
        <%= form.label :initial_date, 'Data Inicial' %>
        <%= form.date_field :initial_date %>

        <%= form.label :end_date, 'Data Final' %>
        <%= form.date_field :end_date %>

        <%= form.submit "Solicitar extrato" %>
      <% end %>
    </div>
  </div>
</main>