<!DOCTYPE html>
<html>
  <head>
    <title>NobeBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <%= current_client.name if current_client%>
        </div>
        <% if current_client %>
          <div>
            <%= button_to 'Encerrar sessão', destroy_client_session_path, method: 'delete' %>
          </div>
        <% else %>
          <div>
            <%= link_to 'Entrar', new_client_session_path %>
          </div>
          <div>
            <%= link_to 'Criar conta', new_client_registration_path %>
          </div>
        <% end %>
      </nav>
    </header>
    <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </main>
  </body>
</html>
