<!DOCTYPE html>
<html>
  <head>
    <title>NobeBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class='px-5 flex items-center space-x-5'>
        <h1 class='text-3xl font-bold'>Nobe Bank</h1>
        <div>
            <%= link_to 'Home', root_path %>
          </div>
        <div>
          <p class='font-bold text-green-800'><%= current_client.name if current_client%></p>
        </div>
        <% if current_client %>
          <div>
            <h3 class='font-bold text-green-800'>Saldo: R$ <%= number_with_precision(current_client.cash, precision: 2)%></h3>
          </div>
          <div>
            <%= link_to 'Editar dados da conta', edit_client_registration_path %>
          </div>
          <div>
            <%= button_to 'Encerrar sessão', destroy_client_session_path, method: 'delete', class:'font-semibold text-red-800' %>
          </div>
        <% else %>
          <div>
            <%= link_to 'Entrar', new_client_session_path %>
          </div>
          <div>
            <%= link_to 'Criar conta', new_client_registration_path %>
          </div>
        <% end %>
      </nav>
    </header>
    <main class='p-[2%]'>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </main>
  </body>
</html>
